/* Selectors that affect the main portions of the html such as universal, body, main, headers, spans, paragraphs */
:root {
  --dark-color: #2b2d2f;
  --text-color: rgba(255, 255, 240, 0.726);
  --hover-color: salmon;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Gruppo;
}

body {
  background-color: var(--dark-color);
  color: var(--text-color);
}

main {
  padding-top: 40px;
}

h1,
h2,
h3 {
  font-size: 40px;
  text-align: center;
  padding: 30px 50px;
}

span {
  background-color: var(--dark-color);
  margin: auto;
  position: absolute;
  color: var(--text-color);
  margin-bottom: 50px;
}

p {
  padding: 50px;
  font-size: 22px;
}

/* Header and Nav bar Styles */

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 0;
  background-color: var(--dark-color);
}

header h1 {
  padding: 10px 10px;
  color: var(--text-color);
  margin-right: auto;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav li,
nav li a {
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: var(--text-color);
  margin: 0 7px;
  font-weight: 900;
  transition: all 0.5s ease-in-out 0s;
}

.nav-link {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.nav-link li a:hover {
  color: var(--hover-color);
}

/*  Banner Image Styles */

#banner-image img {
  width: 100%;
  height: 400px;
}

#image figcaption {
  font-size: 16px;
  position: relative;
  top: -55px;
  color: black;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

/* Main body section (Flex box Container) */
.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 50px;
}

/* Main Content About Me Section */
#About-Me {
  padding-bottom: 50px;
}

#About-Me img {
  min-width: 300px;
  max-width: 300px;
  min-height: 300px;
  max-height: 300px;
  border: 2px solid var(--text-color);
  box-shadow: 0 0 30px var(--text-color);
  margin-left: 40px;
}

/* Main Content Projects section */
#Projects {
  padding-bottom: 50px;
}

.flex-content {
  display: flex;
  border: 3px solid #ffffff;
  background-color: var(--dark-color);
  color: black;
  min-height: 300px;
  max-height: 300px;
  padding-top: 30px;
  padding-right: 40px;
  margin: 10px;
  background-size: 100%;
  font-size: 30px;
  text-decoration: none;
  flex-wrap: wrap;
  flex-basis: 30%;
  transform: skew(-15deg);
  min-width: 280px;
  justify-content: flex-end;
  transition: all 0.5s ease-out;
}

.flex-content:hover,
.flex-cotent:focus {
  background-color: var(--hover-color);
}

.flex-content:first-child {
  flex-basis: 100%;
}

/* background images for projects */
#seo-refactor {
  background-image: url(../image/seo-site-refactor.png);
}

#css-cheatsheet {
  background-image: url(../image/css-cheatsheet.png);
}

/* Main Content Contact Me Section */
#Contact-Me ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding: 10px 0;
}

#Contact-Me li,
#Contact-Me li a {
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: var(--text-color);
  margin: 0 7px;
  font-weight: 900;
  transition: all 0.5s ease-in-out 0s;
}

#Contact-Me li a:hover {
  color: var(--hover-color);
}

/* Media Queries for Tablet size */
@media screen and (max-width: 980px) {
  #image figcaption {
    font-size: 24px;
  }

  .flex-content:first-child {
    flex-basis: 90%;
  }

  #Contact-Me ul {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  #Contact-Me ul li {
    padding: 5px;
  }

  #About-Me img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Media Queries for Mobile */
@media screen and (max-width: 768px) {
  #image figcaption {
    font-size: 20px;
  }

  .flex-content:first-child {
    flex-basis: 73%;
  }

  #Contact-Me ul {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  #Contact-Me ul li {
    padding: 5px;
  }

  #About-Me img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Media Queries for Desktop size */
@media screen and (min-width: 981px) {
  #About-Me,
  #Projects,
  #Contact-Me {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #Contact-Me ul li {
    padding: 40px;
  }
}
